<tr>
  <td
    style="
      padding: 30px;
      font-size: 14px;
      color: #999999;
      text-align: center;
      border-top: solid 1px #f0f2f4;
    "
  >
    Copyright ©2022 <%= sitename %> | All rights reserved.
  </td>
</tr>
