<tr>
  <td
    style="text-align: center; padding: 20px; border-bottom: solid 1px #f0f2f4"
  >
    <a href="<%= process.env.APP_URL %>" target="_blank">
      <img src="cid:headerLogo" alt="<%= sitename %>" width="225" />
    </a>
  </td>
</tr>
